.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #3A4E48;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

.menu a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.menu a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #D90368;
    margin-right: 10px;
}

#button {
    background-color: #D90368;
    padding: 18px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: 1s ease-in-out;
}

#button:hover {
    background-color: #3E000C;
    transform: scale(1.08);
    opacity: 0.5;
}