.main {
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #3A4E48;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

.menu a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.menu a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #D90368;
    margin-right: 10px;
}

#button {
    background-color: #D90368;
    padding: 18px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: 1s ease-in-out;
}

#button:hover {
    background-color: #3E000C;
    transform: scale(1.08);
    opacity: 0.5;
}


/* .info {
    text-align: center;
    width: 627px;
    margin-top: 116px;
    margin-left: 91px;
}

.banner {
    background-color: #3A4042;
    padding: 40px 0;
    margin-bottom: 38px;
    box-shadow: 5px 5px #000;
}

.name {
    color: #D90368;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-bottom: 28px;
}

.prof {
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
    font-weight: 400px;
}

.botao {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #D90368;
    padding: 18px;
    box-shadow: 5px 5px #000;
    color: white;
} */