.main-action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.main-action::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #D90368;
    margin-right: 10px;
}