.title {
    font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
    color: #D90368;
    font-size: 40px;
    text-shadow: 4px 4px 0 #000;
}

.title.-second {
    text-shadow: none;
    color: #fff;
    text-align: center; 
}